<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SystemCfgUrl" value="https://raw.githubusercontent.com/Meigyoku-Thmn/Dotnet-Runtime-Patcher/master/system.jsonc" />
    <add key="LogFilePath" value="Configurator.log" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>